@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagens/imagem.jpeg');
    background-position: center;
    backdrop-filter: blur(5px);
}

.logo-inferior-esquerda {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: fixed;
    z-index: 1000;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 180px;
    background-color: #e0e0e0;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    margin: 6px 10px;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    font-size: 14px;

    transition: all 0.3s ease;
}

.sidebar a.active {
    background-color: white;
    border: 1px solid #ccc;
}

.sidebar a:hover {
    background-color: #d6d6d6;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.main {
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.main h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px #646464;
    color:rgb(0, 0, 0)
}

.form-sections {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box {
    background-color: rgba(224, 224, 224, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 75px;
    width: 500px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.form-box h2 {
    font-size: 3rem;
    margin-bottom: 25px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.form-box label {
    display: flex;
    margin-bottom: 6px;
    font-weight: 500;
    color: #000;
}

.form-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 150px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 30px;
}

.form-box input[type="text"]:focus {
    border-color: #555;
}

.form-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.form-box button:hover {
    background-color: #222;
    transform: scale(1.03);
}